.all{
    font-family: Roboto;
}
.item-blue{
    color:var(--turip);
    font-size: 26px;
    font-family: Raleway;
    font-weight: 700;
    letter-spacing: 0.78px;
    word-wrap: break-word
}
.logo-blue{
    color: var(--turip);
     font-size: 26px;
     font-family: Raleway;
     font-weight: 700;
     letter-spacing: 0.78px;
     word-wrap: break-word
}
.item-blue2{
    color: var(--turip);
     font-size: 14px;
     font-weight: 500;
     letter-spacing: 0.28px;
     word-wrap: break-word
}
.item-white2{
    background-color:var(--turip);
    color: var(--in);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.item-black5{
    background-color: var(--pi);
    border-radius: 4px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}
.down-white{
 color: var(--in);
 font-size: 14px;
 font-weight: 400;
 line-height: 1.71;
 letter-spacing: 0.42px;
 word-wrap: break-word;
 font-style: normal;
}
.logo-white{
    color: var(--in);
font-size: 26px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 0.78px;
word-wrap: break-word
}
.div-white{
    color: var(--in);
     font-size: 44px;
     font-weight: 900;
     text-transform: uppercase;
     line-height: 1.36;
     letter-spacing: 2.64px;
     word-wrap: break-word
}
.item-white{
    color: var(--in);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    word-wrap: break-word;
    font-style: normal;
}
.all-down{
    background-color: var(--pirut);
}
.down-grey{
    color: var(--tip);
}
.item-grey4{
    color: var(--pit);
    font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;
word-wrap: break-word
}
.product-grey{
    color: var(--pit);
     font-size: 16px;
     font-weight: 400;
     line-height: 1.88;
     letter-spacing: 0.48px;
     word-wrap: break-word
}
.item-black{
    color: var(--hd);
 font-size: 14px;
 font-weight: 500;
 letter-spacing: 0.28px;
 word-wrap: break-word
}
.item-grey:hover{
    color: var(--turip);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word
}
.item-black:hover{
    color: var(--turip);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    word-wrap: break-word
}
.div4-black,.div3-black{
color: var(--hd);
 font-size: 36px;
 font-weight: 700;
 letter-spacing: 1.08px;
 word-wrap: break-word
}
.product-black{
    color: var(--hd);
     font-size: 18px;
     font-weight: 700;
     line-height: 2;
     letter-spacing: 1.08px;
     word-wrap: break-word
}
.item-grey3{
color: var(--pit);
 font-size: 14px;
 font-weight: 400;
 line-height: 1.71;
 letter-spacing: 0.42px;
 word-wrap: break-word
}
.item-black3{
color: var(--hd);
 font-size: 14px;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: 0.42px;
 word-wrap: break-word
}
.item-black2{
 color: var(--hd);
 font-size: 16px;
 font-weight: 500;
 letter-spacing: 0.48px;
 word-wrap: break-word
}
.div-blue{
    background-color: var(--turip);
    color: var(--in);
 font-size: 16px;
 font-weight: 700;
 line-height: 1.88;
 letter-spacing: 0.96px;
 word-wrap: break-word
}
.center-div{
    background-color: var(--pirut);
}
.item-grey2{
color: var(--tip);
 font-size: 14px;
 font-weight: 400;
 line-height: 1.71;
 letter-spacing: 0.42px;
 word-wrap: break-word
}
.logo-black{
    color: var(--hd);
font-size: 26px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 0.78px;
word-wrap: break-word
}
.item-grey{
    color: var(--pit);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
word-wrap: break-word
}
:root {--turip: #2196F3}
:root {--pi: #F5F4FA}
:root {--in: #FFFFFF}
:root {--pirut: #2F303A}
:root {--tip: #FFFFFF99}
:root {--pit: #757575}
:root {--hd: #212121}