.item-blue,.down-blue{
    color:var(--turip);
}
.items-item-blue{
    background-color:var(--turip);
    border-radius: 4px;
    font-size: 16px;
    font-family: Roboto;
    line-height: 24px;
    text-align: center;
}
.items-item-black-2{
    background-color: var(--pi);
    border-radius: 4px;
    font-family: Roboto;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
}
.down-white,.item-white,.div-white{
    color: var(--in);
}
.down{
    background-color: var(--pirut);
}
.down-grey{
    color: var(--tip);
}
.item-grey,.products-item-grey{
    color: var(--pit);
}
.item-black,.products-list-item-black{
    color: var(--hd);
}
.div-blue{
    background-color: var(--turip);
    color: var(--in);
}
.center-div{
    background-color: var(--pirut);
}
:root {--turip: #2196F3}
:root {--pi: #F5F4FA}
:root {--in: #FFFFFF}
:root {--pirut: #2F303A}
:root {--tip: #FFFFFF99}
:root {--pit: #757575}
:root {--hd: #212121}