.lop-container,.head-container,
.wwd-container,
.ourteam-container,
.hero-container,.heroport-container,
.pluses-container,
.basement-container {
  outline: solid red 2px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.all {
  font-family: Roboto;
  font-size: 14px;
}

:root {
  --for-blue-parts: #2196f3;
  --for-white-parts: #f5f4fa;
  --for-true-white-parts: #ffffff;
  --for-black-parts: #2f303a;
  --for-light-grey-parts: #ffffff99;
  --for-grey-parts: #757575;
  --for-true-black-parts: #212121;
  --for-strange-white-parts: #eeeeee;
}

/* Navigation */
.head {
  padding-top: 24px;
  padding-bottom: 25px;
  border: var(--for-strange-white-parts) 1px solid;
}

.head-logobluepart {
  color: var(--for-blue-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.head-logoblackpart {
  color: var(--for-true-black-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}

.head-page {
  color: var(--for-true-black-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.head-tel,
.head-email {
  color: var(--for-grey-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.head-tel:hover {
  color: var(--for-blue-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.head-email:hover {
  color: var(--for-blue-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.head-page:hover {
  color: var(--for-blue-parts);
  font-weight: 500;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}

.head-container,
.head-list2,
.head-list,
.wwd-container,
.ourteam-container,
.hero-container,
.pluses-container,
.basement-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.head-logo {
  margin-right: 93px;
}
.head-list,
.head-list2 {
  column-gap: 50px;
}
.head-list2 {
  justify-content: center;
  align-items: end;
  margin-left: 344px;
}

/* Basement */
.basement {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--for-black-parts);
}
.basement-logobluepart {
  color: var(--for-blue-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
  word-wrap: break-word;
}
.basement-logowhitepart {
  color: var(--for-true-white-parts);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.basement-adress {
  color: var(--for-true-white-parts);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.basement-container{
  flex-direction: column;
  justify-content: start;
  align-content: normal;
  row-gap: 20px;
}
.basement-tele,
.basement-mail {
  color: var(--for-light-grey-parts);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.basement-list {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
