/* portfolio Hero */
.heroport{
    padding-top: 94px;
    padding-bottom: 50px;
}

.heroport-blacktag:hover{
    background-color:var(--for-blue-parts);
    color: var(--for-true-white-parts);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}

.heroport-blacktag{
    background-color: var(--for-light-grey-parts);
    border-radius: 4px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}

/*portfolio LOP(list of products) */
.lop{
    padding-bottom: 94px;
}
.lop-tag{
    color: var(--for-grey-parts);
     font-size: 16px;
     font-weight: 400;
     line-height: 1.88;
     letter-spacing: 0.03em;
}

.lop-slog{
    color: var(--for-true-black-parts);
     font-size: 18px;
     font-weight: 700;
     line-height: 2;
     letter-spacing: 0.06em;
}