/* portfolio Hero */
.heroport {
  padding-top: 94px;
  padding-bottom: 50px;
}

.heroport-blacktag:hover {
  background-color: var(--for-blue-parts);
  color: var(--for-true-white-parts);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}

.heroport-blacktag {
  background-color: var(--for-white-parts);
  border-radius: 4px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  padding: 6px 22px;
  outline: none;
  border: none;
}
.heroport-items {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
/*portfolio LOP(list of products) */
.lop {
  padding-bottom: 94px;
}
.lop-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.lop-tag {
  color: var(--for-grey-parts);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;

}

.lop-slog {
  color: var(--for-true-black-parts);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 4px;
}
.lop-product {
  background-color: var(--for-true-white-parts);
  border: 1px solid var(--for-strange-white-parts);
  width: 370px;
  height: 404px;
}
.lop-text{
  padding-left: 24px;
}