/* portfolio Hero */
.head-item:nth-child(2) .head-page:after{
  opacity: 1;
}

.heroport {
  padding-top: 94px;
  padding-bottom: 50px;
  padding-top: 80.5px;
}

.heroport-blacktag:hover,
.heroport-blacktag:focus {
  background-color: var(--for-blue-parts);
  color: var(--for-true-white-parts);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.heroport-blacktag {
  background-color: var(--for-white-parts);
  border-radius: 4px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  padding: 6px 22px;
  outline: none;
  border: none;
}
.heroport-items {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}
/*portfolio LOP(list of products) */
.lop {
  padding-bottom: 94px;
}
.lop-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.lop-tag {
  color: var(--for-grey-parts);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.lop-slog {
  color: var(--for-true-black-parts);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 4px;
}
.lop-product {
  background-color: var(--for-true-white-parts);
  border: 1px solid var(--for-strange-white-parts);
  flex-basis: calc((100% - 2 * 30px) / 3);
  height: 404px;
  padding-bottom: 20px;
}

.lop-card-container {
  height: 404px;
  display: block;
  position: relative;
}

.lop-card-container:hover,
.lop-card-container:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.lop-text {
  padding-left: 24px;
}

.lop-rad-container {
  display: block;
}

.lop-card-container:hover .overlay, .lop-card-container:focus .overlay{
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
height: 294px;
position: absolute;
}

.lop-card-container:hover .overlay-text, .lop-card-container:focus .overlay-text{
  color: #FFF;

font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
position: absolute;
opacity: 1;
}

.overlay-text{
  position: absolute;
  opacity: 0;
  left: 24px;
  top: 63px;
}