
main,
body,
address,
img,
li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
section,
div,
span,
nav,
html {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a{
  text-decoration: none;
}
img{
  display: block;
  width: 100%;
  max-width: 100%;
}