/* index Hero */
.hero-container {
  justify-content: center;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}
.heroindex-whiteslog {
  color: var(--for-true-white-parts);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-align: center;
}

.heroindex-button {
  background-color: var(--for-blue-parts);
  color: var(--for-true-white-parts);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  outline: none;
  border: none;
}
.heroindex-button:active,
.heroindex-button:focus {
  outline: none;
  border: none;
}
.heroindex {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../photos/heroindex-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
/*index Pluses */
.pluses-container {
  justify-content: space-between;
}
.pluses {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pluses-greytext {
  color: var(--for-grey-parts);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.pluses-blackslog {
  color: var(--for-true-black-parts);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.pluses-list {
  display: flex;
  column-gap: 30px;
}

.pluses-icon{
  width: 270px;
  height: 120px;
padding: 25px 100px;
background-color: var(--for-white-parts);
}

/*index WWD(what we do) */
.wwd-container {
  justify-content: center;
  row-gap: 50px;
}
.wwd {
  padding-bottom: 94px;
}
.wwd-slog {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
.wwd-list,
.wwd-item {
  display: flex;
  column-gap: 30px;
}
/*index Our team */
.ourteam-container {
  justify-content: center;
  padding-top: 94px;
}
.ourteam {
  padding-bottom: 94px;
  background-color: var(--for-white-parts);
}
.ourteam-slog {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.ourteam-icons{
  padding: 0px 32px;
  display: flex;
  column-gap: 10px;
}

.ourteam-icon{
  width: 20px;
height: 20px;
fill: #AFB1B8;
cursor: pointer;
/* padding: 12px; */
}

.ourteam-icon-link{
  border-radius: 23px;
  width: 44px;
  height: 44px;
  padding: 12px;
}

.ourteam-icon-link:hover,
.ourteam-icon-link:focus{
  background-color: #2196F3;
}

.ourteam-icon-link:hover .ourteam-icon,
.ourteam-icon-link:focus .ourteam-icon{
  fill: white;
}

.ourteam-name {
  color: var(--for-true-black-parts);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ourteam-text {
  color: var(--for-grey-parts);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.ourteam-list {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}
.ourteam-item {
  background-color: var(--for-true-white-parts);
  border-radius: 4px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.ourteam-photo {
  width: 270px;
  height: 260px;
}

/* Regular customers(regcustomers) */

.regcustomers{
  padding: 94px 0px;
}

.regcustomers-title{
  color: #212121;
  margin-bottom: 50px;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

.regcustomers-icons{
  display: flex;
  column-gap: 30px;
}

.regcustomers-icon-link{
  width: 170px;
  height: 92px;
  border: #AFB1B8 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.regcustomers-icon{
  width: 170px;
  height: 92px;
  fill: #AFB1B8;
}

.regcustomers-icon-link:hover .regcustomers-icon,
.regcustomers-icon-link:focus .regcustomers-icon{
  fill: #2196F3;
}

.regcustomers-icon-link:hover,
.regcustomers-icon-link:focus{
  border: #2196F3 1px solid;
}
