/* index Hero */

.hero-container {
  justify-content: center;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
}
.heroindex-whiteslog {
  color: var(--for-true-white-parts);
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-align: center;
}

.heroindex-button {
  background-color: var(--for-blue-parts);
  color: var(--for-true-white-parts);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 216px;
  height: 50px;
  outline: none;
  border: none;
}

.heroindex-button:focus,
.heroindex-button:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px;
  background-color: rgb(17, 91, 152);
}

.heroindex-button:active,
.heroindex-button:focus {
  outline: none;
  border: none;
}

.heroindex {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../photos/heroindex-img.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
/*index Pluses */
.pluses-container {
  justify-content: space-between;
}
.pluses {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pluses-greytext {
  color: var(--for-grey-parts);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.pluses-blackslog {
  color: var(--for-true-black-parts);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
}
.pluses-list {
  display: flex;
  column-gap: 30px;
}

.pluses-icon {
  width: 270px;
  height: 120px;
  padding: 25px 100px;
  background-color: var(--for-white-parts);
}

/*index WWD(what we do) */
.wwd-container {
  justify-content: center;
  row-gap: 50px;
}
.wwd {
  padding-bottom: 94px;
}
.wwd-slog {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}
.wwd-list,
.wwd-item {
  display: flex;
  column-gap: 30px;
}

.wwd-item {
  position: relative;
  z-index: -1;
}

.wwd-photo-text {
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 27px 0px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: Roboto;
  top: 224px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: center;
  color: white;
}

/*index Our team */
.ourteam-container {
  justify-content: center;
  padding-top: 94px;
}
.ourteam {
  padding-bottom: 94px;
  background-color: var(--for-white-parts);
}
.ourteam-slog {
  color: var(--for-true-black-parts);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.ourteam-icons {
  padding: 0px 32px;
  display: flex;
  column-gap: 10px;
}

.ourteam-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  cursor: pointer;
  /* padding: 12px; */
}

.ourteam-icon-link {
  border-radius: 23px;
  width: 44px;
  height: 44px;
  padding: 12px;
}

.ourteam-icon-link:hover,
.ourteam-icon-link:focus {
  background-color: #2196f3;
}

.ourteam-icon-link:hover .ourteam-icon,
.ourteam-icon-link:focus .ourteam-icon {
  fill: white;
}

.ourteam-name {
  color: var(--for-true-black-parts);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.ourteam-text {
  color: var(--for-grey-parts);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.ourteam-list {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}
.ourteam-item {
  background-color: var(--for-true-white-parts);
  border-radius: 4px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.ourteam-photo {
  width: 270px;
  height: 260px;
}

/* Regular customers(regcustomers) */

.regcustomers {
  padding: 94px 0px;
}

.regcustomers-title {
  color: #212121;
  margin-bottom: 50px;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.regcustomers-icons {
  display: flex;
  column-gap: 30px;
}

.regcustomers-icon-link {
  width: 170px;
  height: 92px;
  border: #afb1b8 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.regcustomers-icon {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
}

.regcustomers-icon-link:hover .regcustomers-icon,
.regcustomers-icon-link:focus .regcustomers-icon {
  fill: #2196f3;
}

.regcustomers-icon-link:hover,
.regcustomers-icon-link:focus {
  border: #2196f3 1px solid;
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #ffff;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  padding: 40px;
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-close {
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px #00000010 solid;
  border-radius: 20px;
  background-color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
}

.modal-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-item {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  position: relative;
}

.modal-text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.modal-item:last-child .modal-input {
  width: 448px;
  height: 120px;
  padding: 12px 16px 94px 16px;
}

.modal-item:last-child .modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
}

.modal-conditions {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.modal-conditions-text {
  margin-left: 7px;
  margin-right: 4px;
  color: #757575;

  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.modal-conditions-link {
  color: #2196f3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.modal-conditions-checkbox {
  width: 16px;
  height: 15px;
}

.modal-button {
  border-radius: 4px;
  background: #2196f3;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
